body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.capa_img {
    width: 100%;
    height: fit-content;

}

div {

    margin: 20px;
    width: 40%;

}

main {
    height: 40%;
}

a {
    text-decoration: none;
    color: white;
}

button {  
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: grey;
    padding: 30px;
    border-radius: 5%;
    border-style: none;

}

footer {
    height: 20%;
    background: grey;

}

footer h4 {
    margin: 20px;
    margin-top: 10px;
    padding-top: 20px;
}

.logos {
    margin: 20px;
    padding: 5px;
    height: 25px;
    width: 25px;
}